
<div class="container-fluid">
  <div class="slider">
     <div class="row">
        <div class="col-md-12">
           <div id="myCarousel" class="carousel slide"
              data-ride="carousel">
              <!-- The slideshow -->
              <div class="carousel-inner">
                 <div class="carousel-item active">
                    <img src="resource/assets/images/slide/1.jpg" alt="Los Angeles"
                       width="100%" height="600px">
                 </div>
                 <div class="carousel-item">
                    <img
                       src="resource/assets/images/slide/yellow-vintage-alarm-clock-with-book-white-background-back-school-time-learn-wealth-knowledge-copy-space-text.png"
                       alt="Chicago" width="100%" height="600px">
                 </div>
              </div>
              <!-- Left and right controls -->
              <a class="carousel-control-prev" href="#myCarousel"
                 data-slide="prev">
                 <span class="carousel-control-prev-icon"></span>
              </a>
              <a class="carousel-control-next" href="#myCarousel"
                 data-slide="next">
                 <span class="carousel-control-next-icon"></span>
              </a>
           </div>
        </div>
     </div>
  </div>
</div>
<div class="container-fluid">
  <div class="active_hot">
     <div class="container">
        <div class="category">
           <div class="row">
              <div class="col-md-4">
                 <h3 class="text">Khảo thí</h3>
              </div>
              <div class="col-md-8">
                 <p
                    style="font-family: Merriweather-Light; margin-top: 15px;font-size: 14px;">
                    Thiết kế, xây dựng, phát triển các bộ công cụ khảo
                    thí, các ngân hàng câu hỏi thi và tổ chức các đợt
                    thi
                    đánh giá năng lực (ĐGNL) người học hoặc ứng viên
                    phục
                    vụ công tác tuyển chọn, tuyển sinh và đánh giá kết
                    quả đào tạo theo kế hoạch và chỉ đạo của ĐHQGHN.
                 </p>
                 <div class="row">
                    <div class="col-md-12">
                       <a href="#">
                          <span><i
                                style="color:#18851c;text-decoration: none;">Xem
                                chi tiết</i></span>

                       </a>
                    </div>
                 </div>
              </div>
           </div>
           <div class="row">
              <div class="col-md-12">
                 <div class="wrap_intro">
                    <div class="box" style="margin-left: 0px;">
                       <div class="img_box">
                          <img src="resource/assets/images/img_content/1.png" alt>
                       </div>
                       <div class="text_box">
                          <span>Đăng ký thi</span>
                       </div>
                    </div>
                    <div class="box">
                       <div class="img_box">
                          <img src="resource/assets/images/img_content/2.png" alt>
                       </div>
                       <div class="text_box">
                          <span>Văn bản hướng dẫn</span>
                       </div>
                    </div>
                    <div class="box">
                       <div class="img_box">
                          <img src="resource/assets/images/img_content/3.png" alt>
                       </div>
                       <div class="text_box">
                          <span>Đề thi tham khảo</span>
                       </div>
                    </div>
                    <div class="box">
                       <div class="img_box">
                          <img src="resource/assets/images/img_content/4.png" alt>
                       </div>
                       <div class="text_box">
                          <span>Tập huấn khảo thí</span>
                       </div>
                    </div>
                    <div class="box">
                       <div class="img_box">
                          <img src="resource/assets/images/img_content/5.png" alt>
                       </div>
                       <div class="text_box">
                          <span>Hỗ trợ sinh viên</span>
                       </div>
                    </div>
                 </div>
              </div>
           </div>
        </div>
     </div>
  </div>
</div>
<div class="container">
  <div class="row">
     <div class="col-md-12">
        <div class="row">
           <div class="col-md-7">
              <div class="exams">
                 <div class="row">
                    <div class="col-md-12">
                       <h4
                          style="margin:30px 0px;font-size: 24px;position: relative;display: inline-block;text-transform: uppercase;font-weight: 800; color: #9f224e;">
                          CÁC BÀI THI
                       </h4>
                    </div>
                 </div>
                 <div class="row">
                    <div class="col-md-12">
                       <div class="menu_list">
                          <div class="row">
                             <div class="col-md-6">
                                <div class="menu_item"
                                   style="margin-left: 0;">
                                   <a href="#"
                                      title="Đánh giá năng lực"
                                      class="i_img">
                                      <img
                                         src="resource/assets/images/exams/cat-danh-gia-nang-luc.png"
                                         alt="lỗi">
                                   </a>
                                   <a href="#"
                                      title="Đánh giá năng lực"
                                      class="name_item">
                                      <span>Đánh giá năng lực</span>
                                   </a>
                                </div>
                             </div>
                             <div class="col-md-6">
                                <div class="menu_item">
                                   <a href="#" title="Sau đại học"
                                      class="i_img">
                                      <img
                                         src="resource/assets/images/exams/cat-sau-dai-hoc.png"
                                         alt="lỗi">
                                   </a>
                                   <a href="#" title="Sau đại học"
                                      class="name_item">
                                      <span>Sau đại học</span>
                                   </a>
                                </div>
                             </div>
                             <div class="col-md-6">
                                <div class="menu_item"
                                   style="margin-left: 0;">
                                   <a href="#" title="Trung học cơ sở"
                                      class="i_img">
                                      <img
                                         src="resource/assets/images/exams/cat-trung-hoc-co-so.png"
                                         alt="lỗi">
                                   </a>
                                   <a href="#" title="Trung học cơ sở"
                                      class="name_item">
                                      <span>Trung học cơ sở</span>
                                   </a>
                                </div>
                             </div>
                             <div class="col-md-6">
                                <div class="menu_item">
                                   <a href="#" title="Tiếng anh"
                                      class="i_img">
                                      <img
                                         src="resource/assets/images/exams/cat-tieng-anh.png"
                                         alt="lỗi">
                                   </a>
                                   <a href="#" title="Tiếng anh"
                                      class="name_item">
                                      <span>Tiếng anh</span>
                                   </a>
                                </div>
                             </div>
                          </div>
                       </div>
                    </div>
                 </div>
              </div>
           </div>
           <div class="col-md-5">
              <div class="notification">
                 <div class="row">
                    <div class="col-md-12">
                       <span>
                          <img src="resource/assets/images/loa-tbao.png" alt="lỗi"
                             style="margin: 10px 10px;">
                       </span>
                       <span>THÔNG BÁO</span>
                       <hr style="margin: 1px 1px;color: #18851c;">
                    </div>
                    <div class="col-md-12">
                       <div class="news_noti">
                          <ul>
                             <li>
                                <a href="#">
                                   <span class="tex_news"> Trường Đại
                                      học
                                      Hà Tĩnh chính thức trở thành
                                      điểm
                                      thi Đánh giá năng lực (HSA) năm
                                      2024 </span>
                                </a>
                             </li>
                             <li>
                                <a href="#">
                                   <span class="tex_news"> Trung tâm
                                      Khảo thí Đại học Quốc gia
                                      Hà
                                      Nội ký thỏa thuận hợp tác
                                      với Trường Đại học Thái Bình</span>
                                </a>
                             </li>
                             <li>
                                <a href="#">
                                   <span class="tex_news"> Diễn đàn
                                      chia
                                      sẻ kinh nghiệm kỳ thi Đánh giá
                                      năng
                                      lực của hai đại học quốc gia
                                   </span>
                                </a>
                             </li>
                             <li>
                                <a href="#">
                                   <span class="tex_news"> Thông báo
                                      tuyển dụng lao động hợp đồng đợt
                                      2
                                      năm 2023 </span>
                                </a>
                             </li>
                             <li>
                                <a href="#">
                                   <span class="tex_news"> Phổ điểm kỳ
                                      thi Đánh giá năng lực (HSA) năm
                                      2023 </span>
                                </a>
                             </li>
                             <li>
                                <a href="#">
                                   <span class="tex_news"> Kết thúc kỳ
                                      thi Đánh giá năng lực năm 2023
                                   </span>
                                </a>
                             </li>
                             <li style="list-style: none;">
                                <a href="#">
                                   <span><i
                                         style="font-size: 13px;text-transform: none;color: #1a9547;">Xem
                                         thêm</i></span>
                                   <span><i
                                         style="font-size: 13px;text-transform: none;color: #1a9547;"
                                         class="fas fa-arrow-right"></i></span>
                                </a>
                             </li>
                          </ul>
                       </div>
                    </div>
                 </div>
              </div>
           </div>
        </div>
     </div>
  </div>
</div>
<div class="container-fluid">
  <div class="active_hot">
     <div class="container">
        <div class="row">
           <div class="col-md-12">
              <h4
                 style="margin:10px 10px;font-size: 24px;position: relative;display: inline-block;text-transform: uppercase;font-weight: 800; color: #9f224e;">
                 SỰ KIỆN
              </h4>
           </div>
           <div class="col-md-12">
              <div class="event_intro">
                 <div class="row">
                    <div class="col-md-4">
                       <div class="event">
                          <div class="img_event">
                             <a href="#">
                                <img src="resource/assets/images/event/no-image.png"
                                   alt="lỗi">
                             </a>
                          </div>
                          <div class="content_event">
                             <i class="far fa-calendar-alt"
                                style="color: #0cd26c;font-size: 20px;padding: 20px 20px;"></i>
                             <span class="date_new">
                                17/08/2023, 13:38
                             </span>
                             <p>
                                <a href="#" class="cont_text">
                                   Kế hoạch tổ chức thi kết thúc học
                                   phần
                                   chung học kỳ II năm học 2022-2023
                                </a>
                             </p>
                             <p class="del_new">
                                <a href="#">
                                   Xem chi tiết
                                </a>
                             </p>

                          </div>
                       </div>
                    </div>
                    <div class="col-md-4">
                       <div class="event">
                          <div class="img_event">
                             <a href="#">
                                <img src="resource/assets/images/event/download.jpg"
                                   alt="lỗi">
                             </a>
                          </div>
                          <div class="content_event">
                             <i class="far fa-calendar-alt"
                                style="color: #0cd26c;font-size: 20px;padding: 20px 20px;"></i>
                             <span class="date_new">
                                17/08/2023, 13:38
                             </span>
                             <p>
                                <a href="#" class="cont_text">
                                   Kế hoạch tổ chức thi kết thúc học
                                   phần
                                   chung học kỳ II năm học 2022-2023
                                </a>
                             </p>
                             <p class="del_new">
                                <a href="#">
                                   Xem chi tiết
                                </a>
                             </p>

                          </div>
                       </div>
                    </div>
                    <div class="col-md-4">
                       <div class="event">
                          <div class="img_event">
                             <a href="#">
                                <img
                                   src="resource/assets/images/event/download (1).jpg"
                                   alt="lỗi">
                             </a>
                          </div>
                          <div class="content_event">
                             <i class="far fa-calendar-alt"
                                style="color: #0cd26c;font-size: 20px;padding: 20px 20px;"></i>
                             <span class="date_new">
                                17/08/2023, 13:38
                             </span>
                             <p>
                                <a href="#" class="cont_text">
                                   Kế hoạch tổ chức thi kết thúc học
                                   phần
                                   chung học kỳ II năm học 2022-2023
                                </a>
                             </p>
                             <p class="del_new">
                                <a href="#">Xem chi tiết</a>
                             </p>
                          </div>
                       </div>
                    </div>
                 </div>
              </div>
              <div class="move">
                 <div class="next_to">
                    <i class="fas fa-arrow-left"></i>
                 </div>
                 <div class="prev_to">
                    <i class="fas fa-arrow-right"></i>
                 </div>
              </div>
           </div>
        </div>
     </div>
  </div>
</div>
<div class="container">
  <div class="row">
     <div class="col-md-12">
        <h4
           style="margin:30px 10px;font-size: 24px;position: relative;display: inline-block;text-transform: uppercase;font-weight: 800; color: #9f224e;">
           Tin giáo dục
        </h4>
     </div>
     <div class="col-md-12">
        <div class="new_edu">
           <div class="row">
              <div class="col-md-4">
                 <div class="box_edu">

                    <div class="img_box_edu">
                       <img src="resource/assets/images/edu_new/2.jpg" alt="lỗi">
                    </div>
                    <div class="text_box_edu">
                       <a href="/chitiet">
                          <h5>
                             Trường Đại học Hà Tĩnh chính thức trở
                             thành
                             điểm thi Đánh giá năng lực (HSA) năm 2024
                          </h5>
                       </a>
                    </div>

                 </div>
              </div>
              <div class="col-md-8">
                 <div class="row">
                    <div class="col-md-6">
                       <div class="edu_box" style="margin-top: 0px">
                          <div class="row">
                             <div class="col-md-6">
                                <div class="edu_img">
                                   <img src="resource/assets/images/edu_new/1.jpg"
                                      alt="lỗi">
                                </div>
                             </div>
                             <div class="col-md-6">
                                <div class="edu_context">
                                   <p>
                                      <i class="far fa-calendar-alt"></i>
                                      <span> 17/08/2023, 13:35 </span>

                                   </p>
                                   <a class="article-name"
                                      title="Trung tâm Khảo thí Đại học Quốc gia Hà Nội ký thỏa thuận hợp tác với Trường Đại học Thái Bình"
                                      href="#">
                                      Trung tâm Khảo thí Đại học
                                      Quốc gia Hà Nội ký thỏa
                                      thuận
                                      hợp tác với Trường Đại học
                                      Thái
                                      Bình
                                   </a>

                                   <a class="see-detail"
                                      title="Trung tâm Khảo thí Đại học Quốc gia Hà Nội ký thỏa thuận hợp tác với Trường Đại học Thái Bình"
                                      href="#">
                                      Xem chi tiết
                                   </a>
                                </div>
                             </div>
                          </div>
                       </div>
                    </div>
                    <div class="col-md-6">
                       <div class="edu_box" style="margin-top: 0px">
                          <div class="row">
                             <div class="col-md-6">
                                <div class="edu_img">
                                   <img src="resource/assets/images/edu_new/4.jpg"
                                      alt="lỗi">
                                </div>
                             </div>
                             <div class="col-md-6">
                                <div class="edu_context">
                                   <p>
                                      <i class="far fa-calendar-alt"></i>
                                      <span> 12/06/2023, 12:02 </span>

                                   </p>
                                   <a class="article-name"
                                      title=" Phổ điểm kỳ thi Đánh giá năng lực (HSA) năm 2023 "
                                      href="#">
                                      Phổ điểm kỳ thi Đánh giá năng
                                      lực
                                      (HSA) năm 2023
                                   </a>

                                   <a class="see-detail"
                                      title=" Phổ điểm kỳ thi Đánh giá năng lực (HSA) năm 2023 "
                                      href="#">
                                      Xem chi tiết
                                   </a>
                                </div>
                             </div>
                          </div>
                       </div>
                    </div>
                    <div class="col-md-6">
                       <div class="edu_box">
                          <div class="row">
                             <div class="col-md-6">
                                <div class="edu_img">
                                   <img src="resource/assets/images/edu_new/3.jpg"
                                      alt="lỗi">
                                </div>
                             </div>
                             <div class="col-md-6">
                                <div class="edu_context">
                                   <p>
                                      <i class="far fa-calendar-alt"></i>
                                      <span> 06/06/2023, 17:41 </span>

                                   </p>
                                   <a class="article-name"
                                      title=" Kết thúc kỳ thi Đánh giá năng lực năm 2023"
                                      href="#">
                                      Kết thúc kỳ thi Đánh giá năng
                                      lực
                                      năm 2023
                                   </a>

                                   <a class="see-detail"
                                      title=" Kết thúc kỳ thi Đánh giá năng lực năm 2023"
                                      href="#">
                                      Xem chi tiết
                                   </a>
                                </div>
                             </div>
                          </div>
                       </div>
                    </div>
                    <div class="col-md-6">
                       <div class="edu_box">
                          <div class="row">
                             <div class="col-md-6">
                                <div class="edu_img">
                                   <img src="resource/assets/images/edu_new/5.jpg"
                                      alt="lỗi">
                                </div>
                             </div>
                             <div class="col-md-6">
                                <div class="edu_context">
                                   <p>
                                      <i class="far fa-calendar-alt"></i>
                                      <span> 30/05/2023, 11:41 </span>

                                   </p>
                                   <a class="article-name"
                                      title=" Hoàn thành đợt thi Đáng giá năng lực HSA 307"
                                      href="#">
                                      Hoàn thành đợt thi Đáng giá năng
                                      lực HSA 307
                                   </a>

                                   <a class="see-detail"
                                      title="Hoàn thành đợt thi Đáng giá năng lực HSA 307"
                                      href="#">
                                      Xem chi tiết
                                   </a>
                                </div>
                             </div>
                          </div>
                       </div>
                    </div>
                 </div>

              </div>
           </div>
        </div>
     </div>
  </div>
</div>
<div class="container-fluid">
  <div class="active_hot">
     <div class="container">
        <div class="row">
           <div class="col-md-12">
              <h4
                 style="margin:30px 10px;font-size: 24px;position: relative;display: inline-block;text-transform: uppercase;font-weight: 800; color: #9f224e;">
                 Hoạt động dịch vụ
              </h4>
           </div>
           <div class="col-md-12">
              <div class="cont_active">
                 <div class="row">
                    <div class="col-md-6">
                       <div class="left_active">
                          <div class="row">

                             <div class="col-md-12">
                                <div class="title_new">
                                   <p>
                                      <span><i class="fas fa-video"></i></span>
                                      <span> <i
                                            class="far fa-calendar-alt"></i></span>
                                      <span
                                         style="    font-family: Googlesans-Regular;
                             color: #838484;">03/02/2022</span>
                                   </p>
                                   <p style="font-size: 24px;
                          color: #191919;">
                                      <a href="#"
                                         style=" font-size: 18px;">
                                         VTV1 Vấn đề hôm nay -
                                         03.02.2023
                                      </a></p>
                                </div>
                                <hr>
                             </div>
                             <div class="col-md-12">
                                <div class="title_new">
                                   <p>
                                      <span><i class="fas fa-video"></i></span>
                                      <span> <i
                                            class="far fa-calendar-alt"></i></span>
                                      <span
                                         style="    font-family: Googlesans-Regular;
                             color: #838484;">03/02/2022</span>
                                   </p>
                                   <p style="font-size: 24px;
                          color: #191919;">
                                      <a href="#">
                                         VTV1 - Vấn đề hôm nay
                                         06.02.2023
                                      </a></p>
                                </div>
                                <hr>
                             </div>
                             <div class="col-md-12">
                                <div class="title_new">
                                   <p>
                                      <span><i class="fas fa-video"></i></span>
                                      <span> <i
                                            class="far fa-calendar-alt"></i></span>
                                      <span
                                         style="    font-family: Googlesans-Regular;
                             color: #838484;">03/02/2022</span>
                                   </p>
                                   <p style="font-size: 24px;
                          color: #191919;">
                                      <a href="#">
                                         Thông tin mới nhất, quan
                                         trọng
                                         nhất về thi HSA, thí sinh cần
                                         lưu ý [Báo Đại biểu Nhân dân]
                                      </a></p>
                                </div>
                                <hr>
                             </div>
                             <div class="col-md-12">
                                <div class="title_new">
                                   <p>
                                      <span><i class="fas fa-video"></i></span>
                                      <span> <i
                                            class="far fa-calendar-alt"></i></span>
                                      <span
                                         style="    font-family: Googlesans-Regular;
                             color: #838484;">03/02/2022</span>
                                   </p>
                                   <p style="font-size: 24px;
                          color: #191919;">
                                      <a href="#">
                                         Hướng dẫn nộp lệ phí thi HSA
                                      </a></p>
                                </div>
                                <hr>
                             </div>

                          </div>
                       </div>
                    </div>
                    <div class="col-md-6">
                       <div class="right_active">
                          <iframe _ngcontent-serverapp-c137 id="vidYT"
                             width="100%" height="400"
                             allow="accelerometer; encrypted-media; gyroscope; picture-in-picture"
                             frameborder="0" loading="lazy"
                             allowfullscreen
                             src="https://www.youtube.com/embed/QVjjUKKu_uA?autoplay=1"
                             class="ng-star-inserted"></iframe>
                       </div>
                    </div>
                 </div>
              </div>
           </div>
        </div>
     </div>
  </div>
</div>
